* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('https://imgs.search.brave.com/WB5hdr7oMks5qs9S9ZgGcM8G_xwMhwHtRQgr8U-200w/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA3Lzg1Lzc4LzA5/LzM2MF9GXzc4NTc4/MDk5N19kd05mMm4w/bkdUdXJSYUtVamVT/SlVxTFRPcE5NdTRM/di5qcGc') no-repeat center center/cover;
    color: white;
    text-align: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* About Me Section */
.about-me {
    background-color: rgba(0, 0, 0, 0.6); /* Transparent black */
    border-radius: 10px;
    padding: 30px;
    margin: 50px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.about-me h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 15px;
}

.about-me p {
    font-size: 1.2rem;
    color: #ddd;
}

/* Footer Section */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1rem;
}

footer p {
    margin: 0;
}

footer a {
    color: #1e90ff;
    text-decoration: none;
}


